@import './variables.sass'

@tailwind base
@tailwind components
@tailwind utilities

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap')

html,
body
  padding: 0
  margin: 0
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-size: 16px
  line-height: 1.5
  overflow-x: hidden
  @apply bg-bg text-white

a
  color: inherit
  text-decoration: none
  @apply text-sky-500 hover:underline

h1
  @apply sm:text-6xl text-4xl font-extrabold

h2
  @apply sm:text-4xl text-3xl font-bold

h3
  @apply sm:text-3xl text-2xl font-light

h4
  @apply sm:text-2xl text-xl font-light

h2, h3, h4
  line-height: 1.3 !important

*
  box-sizing: border-box

.bg-primary-gradient
  background: linear-gradient(73.3deg, #2A4F41 0%, #201E2E 98.33%)

.tick-list
  li
    list-style-type: "✓"
    padding-inline-start: 0.75rem
    &::marker
      @apply text-primary text-xl font-bold

@media (min-width: 1536px)
  .container, .xl\:container
    &:not(.max-w-xl)
      max-width: 1280px

.text-primary
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%)
  webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  text-fill-color: transparent

.bg-primary
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%)
  &--darken
    background: linear-gradient(90deg, rgba(42, 245, 152, 0.75) 0%, rgba(0, 158, 253, 0.75) 100%)

button
  @apply flex items-center gap-2 sm:py-4 sm:px-8 sm:text-base text-sm py-3 px-6 font-bold leading-6 text-center bg-discord rounded-lg hover:opacity-75

.blurry-gradient
  position: absolute
  pointer-events: none
  &--lg
    opacity: 25%
    width: 1000px
  &--md
    opacity: 10%
    width: 800px

.w-11rem
  width: 11rem

.blue-block
  background: linear-gradient(97.96deg, #1E2033 0%, #1A1B23 100%)
  border-width: 1px 0px
  border-style: solid
  border-color: #39435C

.history-dot
  width: calc(100% / 19 - 0.25rem)
  @apply rounded-sm aspect-square
